{% extends "base.html" %}

{% block title%}
    <title> Index page </title>
{% endblock %}

{% block content %}
<h1>Welcome to Kuila Notebook </h1>
<div>
    <nav>
        {% if user.is_authenticated %}
            {% include 'registration/logout.html'%}
            <a href="{% url 'dashboard' %}">Dashboard</a>

        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">SignUP</a>
            <a href="{% url 'password_reset' %}">Reset your password</a>
        {% endif %}
    </nav>
</div>
</body>
{% endblock %}