{% extends 'base.html' %}

{% block title%} Home {% endblock %}

{% block content %}

<h1>Welcome to Kuila Notebook </h1>
    <div>
        <div>
            {% if user.is_authenticated %}
                <div>
                    {% include 'registration/logout.html'%}
                </div>
                <div>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>

            {% else %}
                <div>
                    <p><a href="{% url 'login' %} ">Login </a></p>
                    <p><a href="{% url 'signup' %} ">Signup </a></p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}