{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <h1>Notebook : Preview </h1>
    <div>
        <div>
            <h3> {{note.title}}</h3>
            <p>{{ note.content}}</p>
            <p>{{ note.updated_at}}</p>
            <p>{{ note.created_at}}</p>
            <div>
                <a href=" {% url  'dashboard' %} " > Close </a>
                <a href=" {% url  'note_update' pk=note.id %} " > Edit </a>
                <a href=" {% url 'note_delete' pk=note.id %} " > Delete </a>
            </div>

        </div>
    </div>
{% endblock %}
