{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<h1>
    This the dashboard
</h1>
<div>
    <p>
        <a href="{% url 'note_list' %}"> Notes lists </a>
        <a href="{% url 'category_list' %}">Categories lists</a>
    </p>
</div>


<!--
Old dashboard view
<hr>
    <h1>Notes list </h1>
    <a href=" {% url 'note_create' %} " >Create note </a>
    <div>
        {% for note in notes %}
        <div>
            <h3> {{note.title}}</h3>
            <p>{{ note.updated_at}}</p>
            <div>
                <a href=" {% url  'note_update' pk=note.id %} " > Edit </a>
                <a href=" {% url  'note_preview' pk=note.id %} " > Preview </a>
                <a href=" {% url 'note_delete' pk=note.id %} " > Delete </a>
            </div>
        </div>
        {% endfor %}
    </div>
<hr>
    <h1>Category list  </h1>
    <a href=" {% url 'category_create' %} " >Add new  category </a>
    <div>
        {% for category in categories %}
        <div>
            <h3> {{category.name}}</h3>
            <div>
                <a href=" {% url  'category_update' pk=category.id %} " > Edit </a>
                <a href=" {% url 'category_delete' pk=category.id %} " > Delete </a>
            </div>

        </div>
        {% endfor %}
    </div>
-->
{% endblock %}
